In [136]:
import pandas as pd#creating a series
y= pd.Series(range(2,12))#2,3,4,5,6,7,8,9,10,11
x= pd.Series(range(3,13))#3,4,5,6,7,8,9,10,11,12
z = y+x
z

0     5
1     7
2     9
3    11
4    13
5    15
6    17
7    19
8    21
9    23
dtype: int64

In [137]:
w= pd.Series(z,index=['A','B','C','D','E','F','G','H','I','J'])#representing the indexes with letters
w

A   NaN
B   NaN
C   NaN
D   NaN
E   NaN
F   NaN
G   NaN
H   NaN
I   NaN
J   NaN
dtype: float64

In [138]:
Dates = pd.date_range('20200101', periods=6)#creating a dataframe by passing a numpy array with datetime index and
#labelled columns
Dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [139]:
import numpy as np#creating by random,indicating the index and columns
dd= pd.DataFrame(np.random.randn (6,6), index=Dates, columns= list('ABCDEF'))
dd

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164
2020-01-06 -0.864971  0.478215  0.108557  0.519524  0.237151  1.319588

In [140]:
df1 = pd.DataFrame({'A':1., 'B':pd.Timestamp('20130102'), 'C':pd.Series(1, index = list(range(4))), 'D':np.array([3]*4),
'E':pd.Categorical(["train","test","train","test"])})
df1#creating a dataframe by passing dict of objects that can be converted to series like

     A          B  C  D      E
0  1.0 2013-01-02  1  3  train
1  1.0 2013-01-02  1  3   test
2  1.0 2013-01-02  1  3  train
3  1.0 2013-01-02  1  3   test

In [141]:
df1.dtypes#the coloum of the resulting dataframe have different types

A           float64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [142]:
df1.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [143]:
df1.abs

<bound method NDFrame.abs of      A          B  C  D      E
0  1.0 2013-01-02  1  3  train
1  1.0 2013-01-02  1  3   test
2  1.0 2013-01-02  1  3  train
3  1.0 2013-01-02  1  3   test>

In [144]:
df1.add

<bound method _arith_method_FRAME.<locals>.f of      A          B  C  D      E
0  1.0 2013-01-02  1  3  train
1  1.0 2013-01-02  1  3   test
2  1.0 2013-01-02  1  3  train
3  1.0 2013-01-02  1  3   test>

In [145]:
df1.bool

<bound method NDFrame.bool of      A          B  C  D      E
0  1.0 2013-01-02  1  3  train
1  1.0 2013-01-02  1  3   test
2  1.0 2013-01-02  1  3  train
3  1.0 2013-01-02  1  3   test>

In [146]:
df1.boxplot

<bound method boxplot_frame of      A          B  C  D      E
0  1.0 2013-01-02  1  3  train
1  1.0 2013-01-02  1  3   test
2  1.0 2013-01-02  1  3  train
3  1.0 2013-01-02  1  3   test>

In [147]:
df1.C

0    1
1    1
2    1
3    1
Name: C, dtype: int64

In [148]:
dd.head()#viewing top rows of the dataframe

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164

In [149]:
dd.tail(3)#viewing bottom rows of the dataframe

                   A         B         C         D         E         F
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164
2020-01-06 -0.864971  0.478215  0.108557  0.519524  0.237151  1.319588

In [150]:
dd.index#viewing data at index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [151]:
dd.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [152]:
df1.to_numpy()#creating dataframe to numpy

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1, 3, 'train'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1, 3, 'test'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1, 3, 'train'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1, 3, 'test']],
      dtype=object)

In [153]:
dd.to_numpy()#creating dataframe to numpy

array([[ 0.20732517, -0.49679662,  0.10635779,  0.88242378,  0.75337133,
        -1.18640615],
       [ 0.58582574,  1.58905166, -0.61108265, -0.67685005,  0.46825783,
        -0.71916413],
       [-1.47952585, -0.81367356,  0.58014546,  1.11041571,  1.71210074,
        -0.87459283],
       [ 1.32869215,  0.24033284,  1.12493866,  0.36962055, -0.09942176,
         1.11825151],
       [ 0.33235586, -0.51726238,  0.22747288, -0.68653457, -0.19957336,
         0.12616374],
       [-0.86497079,  0.47821508,  0.1085567 ,  0.5195243 ,  0.23715095,
         1.31958751]])

In [154]:
dd.describe()#showing a quick statistics summary of the data

              A         B         C         D         E         F
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.018284  0.079978  0.256065  0.253100  0.478648 -0.036027
std    1.019532  0.888773  0.575657  0.769846  0.699922  1.066733
min   -1.479526 -0.813674 -0.611083 -0.686535 -0.199573 -1.186406
25%   -0.596897 -0.512146  0.106908 -0.415232 -0.015279 -0.835736
50%    0.269841 -0.128232  0.168015  0.444572  0.352704 -0.296500
75%    0.522458  0.418745  0.491977  0.791699  0.682093  0.870230
max    1.328692  1.589052  1.124939  1.110416  1.712101  1.319588

In [155]:
dd.mean()#showing the mean of the data

A    0.018284
B    0.079978
C    0.256065
D    0.253100
E    0.478648
F   -0.036027
dtype: float64

In [156]:
dd.T#transposing the data

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    0.207325    0.585826   -1.479526    1.328692    0.332356   -0.864971
B   -0.496797    1.589052   -0.813674    0.240333   -0.517262    0.478215
C    0.106358   -0.611083    0.580145    1.124939    0.227473    0.108557
D    0.882424   -0.676850    1.110416    0.369621   -0.686535    0.519524
E    0.753371    0.468258    1.712101   -0.099422   -0.199573    0.237151
F   -1.186406   -0.719164   -0.874593    1.118252    0.126164    1.319588

In [157]:
df2=pd.DataFrame(dd.T,index=(['joy','bola','lara','femi','ayo','joke']))#creating the indexes into names
df2

      2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
joy          NaN         NaN         NaN         NaN         NaN         NaN
bola         NaN         NaN         NaN         NaN         NaN         NaN
lara         NaN         NaN         NaN         NaN         NaN         NaN
femi         NaN         NaN         NaN         NaN         NaN         NaN
ayo          NaN         NaN         NaN         NaN         NaN         NaN
joke         NaN         NaN         NaN         NaN         NaN         NaN

In [158]:
dd.sort_index(axis=1, ascending=False)#sorting by an axis

                   F         E         D         C         B         A
2020-01-01 -1.186406  0.753371  0.882424  0.106358 -0.496797  0.207325
2020-01-02 -0.719164  0.468258 -0.676850 -0.611083  1.589052  0.585826
2020-01-03 -0.874593  1.712101  1.110416  0.580145 -0.813674 -1.479526
2020-01-04  1.118252 -0.099422  0.369621  1.124939  0.240333  1.328692
2020-01-05  0.126164 -0.199573 -0.686535  0.227473 -0.517262  0.332356
2020-01-06  1.319588  0.237151  0.519524  0.108557  0.478215 -0.864971

In [159]:
dd.sort_values (by ='C')#sorting by an value

                   A         B         C         D         E         F
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-06 -0.864971  0.478215  0.108557  0.519524  0.237151  1.319588
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252

In [160]:
dd['A']#selecting a single column

2020-01-01    0.207325
2020-01-02    0.585826
2020-01-03   -1.479526
2020-01-04    1.328692
2020-01-05    0.332356
2020-01-06   -0.864971
Freq: D, Name: A, dtype: float64

In [161]:
dd[0:4]#slicing the rows

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252

In [162]:
dd['20200101':'20200105']#slicing using indexes

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164

In [163]:
dd.loc['20200101':'20200105',['A','B']]#selecting on a multi_axis by label

                   A         B
2020-01-01  0.207325 -0.496797
2020-01-02  0.585826  1.589052
2020-01-03 -1.479526 -0.813674
2020-01-04  1.328692  0.240333
2020-01-05  0.332356 -0.517262

In [164]:
dd.loc[Dates[0:4]]#selecting on a multi_axis by label

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252

In [165]:
dd.loc[Dates[0:]]#selecting all rows

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164
2020-01-06 -0.864971  0.478215  0.108557  0.519524  0.237151  1.319588

In [166]:
dd.loc['20200102':'20200106',['A','B','C']]#showing label slicing,both endpoint are included

                   A         B         C
2020-01-02  0.585826  1.589052 -0.611083
2020-01-03 -1.479526 -0.813674  0.580145
2020-01-04  1.328692  0.240333  1.124939
2020-01-05  0.332356 -0.517262  0.227473
2020-01-06 -0.864971  0.478215  0.108557

In [167]:
dd.loc['20200101':'20200105','B']#slicing both axis and label

2020-01-01   -0.496797
2020-01-02    1.589052
2020-01-03   -0.813674
2020-01-04    0.240333
2020-01-05   -0.517262
Freq: D, Name: B, dtype: float64

In [168]:
dd.loc[Dates[0]]#getting a cross selection using label

A    0.207325
B   -0.496797
C    0.106358
D    0.882424
E    0.753371
F   -1.186406
Name: 2020-01-01 00:00:00, dtype: float64

In [169]:
dd.at[Dates[0],'A']

0.2073251672790865

In [170]:
dd.iloc[3]#selection by position

A    1.328692
B    0.240333
C    1.124939
D    0.369621
E   -0.099422
F    1.118252
Name: 2020-01-04 00:00:00, dtype: float64

In [171]:
dd.iloc[:,:]#slicing rows explicitly

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164
2020-01-06 -0.864971  0.478215  0.108557  0.519524  0.237151  1.319588

In [172]:
dd[dd.A>0]#boolean indexing

                   A         B         C         D         E         F
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164

In [173]:
mdd=dd[dd>0]#indicating data in the dataframe>0
mdd

                   A         B         C         D         E         F
2020-01-01  0.207325       NaN  0.106358  0.882424  0.753371       NaN
2020-01-02  0.585826  1.589052       NaN       NaN  0.468258       NaN
2020-01-03       NaN       NaN  0.580145  1.110416  1.712101       NaN
2020-01-04  1.328692  0.240333  1.124939  0.369621       NaN  1.118252
2020-01-05  0.332356       NaN  0.227473       NaN       NaN  0.126164
2020-01-06       NaN  0.478215  0.108557  0.519524  0.237151  1.319588

In [174]:
mdd.dropna(how='any')#dropping rows with missing values

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [177]:
mdd.fillna(5)#filling the missing values with 5

                   A         B         C         D         E         F
2020-01-01  0.207325  5.000000  0.106358  0.882424  0.753371  5.000000
2020-01-02  0.585826  1.589052  5.000000  5.000000  0.468258  5.000000
2020-01-03  5.000000  5.000000  0.580145  1.110416  1.712101  5.000000
2020-01-04  1.328692  0.240333  1.124939  0.369621  5.000000  1.118252
2020-01-05  0.332356  5.000000  0.227473  5.000000  5.000000  0.126164
2020-01-06  5.000000  0.478215  0.108557  0.519524  0.237151  1.319588

In [178]:
pd.isna(mdd)#to  get the boolean mask where values are nan

                A      B      C      D      E      F
2020-01-01  False   True  False  False  False   True
2020-01-02  False  False   True   True  False   True
2020-01-03   True   True  False  False  False   True
2020-01-04  False  False  False  False   True  False
2020-01-05  False   True  False   True   True  False
2020-01-06   True  False  False  False  False  False

In [175]:
dd3=dd.copy()

In [176]:
dd3['G']=['10','20','30','40','50','60']#entering another column with values
dd3

                   A         B         C         D         E         F   G
2020-01-01  0.207325 -0.496797  0.106358  0.882424  0.753371 -1.186406  10
2020-01-02  0.585826  1.589052 -0.611083 -0.676850  0.468258 -0.719164  20
2020-01-03 -1.479526 -0.813674  0.580145  1.110416  1.712101 -0.874593  30
2020-01-04  1.328692  0.240333  1.124939  0.369621 -0.099422  1.118252  40
2020-01-05  0.332356 -0.517262  0.227473 -0.686535 -0.199573  0.126164  50
2020-01-06 -0.864971  0.478215  0.108557  0.519524  0.237151  1.319588  60